.figure {
  display: flex;
  height: 80%;
  .display-figure {
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
    display: flex;
  }
}
.description {
  margin-top: 8px;
  font-size: 18px;
  color: #1665a0;
}
.history {
  button {
    margin: 8px;
  }
}
